@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@400;700&family=Rubik:wght@300;400;500;600;700;800&display=swap');
/* Start Variables */
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --background-section: #ececec;
    --main-transition: .3s;
    --border-bottom: #e9e6e6;
    --gap-grid: 40px;
    --sec-color: #777;
} 
/* End Variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 82.5%;
}
@media(max-width:1200px){
    .container{
        width: 95%;
    }
}
@media(min-width:1600px){
    .container{
        width: 1170px ;
    }
}
.main-title{
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px 20px;
    margin: 0 auto 80px;
    width: fit-content;
    border: 2px solid black;
    position: relative;
    transition-duration: var(--main-transition);
    z-index: 1;
}
.main-title:hover{
    color: #fff;
    border: 2px solid #fff;
    transition-delay: .5s;
}
.main-title:before , .main-title:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY( -50%);
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
    transition: var(--main-transition);
}
.main-title:before{
    left: -30px;
}
.main-title:hover::before{
    left: 0;
    animation: left-move .5s linear forwards;
}
.main-title:after{
    right: -30px;
}
.main-title:hover::after{
    right: 0;
    animation: right-move .5s linear forwards;
}
@keyframes left-move {
    50%{
        width: 12px;
        height: 12px;
        border-radius: 0;
    }
    100%{
        height: 101%;
        width: 51%;
        border-radius: 0;
    }
}
@keyframes right-move {
    50%{
        width: 12px;
        height: 12px;
        border-radius: 0;
    }
    100%{
        height: 101%;
        width: 51%;
        border-radius: 0;
    }
}
.sec-padding{
    padding: 100px 0;
}
/* End Global Rules  */
/* Start Header  */
header{
    box-shadow: 0 0 10px #ddd;
    position: relative;
    background-color: #fff;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:767px){
    header nav{
        flex-direction: column;
    }
}
header nav > a{
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
}
header nav > a , header nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
}
header nav > ul{
    display: flex;
}
header nav ul li > a{
    color: #000000;
    font-size: 18px;
    padding: 0 30px ;
    overflow: hidden;
    position: relative;
    transition: var(--main-transition);
}
@media(max-width:767px){
    header nav > a {
        height: 50px;
    }
    header nav ul li > a {
        padding: 10px ;
        height: 50px;
        font-size: 14px;
    }
}
header nav ul li a:not(.menu ul a):hover{
    background-color: #fafafa;
    color: var(--main-color-alt);
    transition: var(--main-transition);
}
header nav ul li > a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-color-alt);
    transition: var(--main-transition);
}
header nav ul li > a:not(.menu a):hover::before{
    left: 0;
}
header .links:hover  .menu{
    top: calc( 100% + 1px );
    opacity: 1;
    z-index: 1;
}
header .menu{
    padding: 30px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: var(--gap-grid);
    position: absolute;
    top: calc(100% + 50px);
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    z-index: -1;
    transition: top var(--main-transition) , opacity var(--main-transition) ;
    background-color: #fff;
    border-bottom: 3px var(--main-color) solid;
}
header .menu ul li{
    position: relative;
    overflow: hidden;
}
header .menu ul li::before{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    transition: var(--main-transition);
}
header .menu ul li:hover::before{
    width: 100%;
}
header .menu ul li a{
    padding: 15px;
    display: block;
    font-weight: bold;
    color: var(--main-color);
}
@media(max-width:1200px){
    header .menu ul li a{
        font-size: 15px;
    }
}
header .menu ul li:not(:last-child) a{
    border-bottom: 1px solid var(--border-bottom);
}
header .menu ul li a i{
    margin-right: 10px;
}
header .menu .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .menu .img img{
    max-width: 100%;
}
@media(max-width:992px){
    header .menu{
        display: flex;
        justify-content: space-between;
    }
    header .menu ul{
        flex-basis: 47%;
    }
    header nav .menu .img{
        display: none;
    }
}
@media(max-width:786px){
    header .menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
    header .menu .works{
        border-bottom: 1px solid var(--border-bottom);
    }
}
/* End Header  */
/* Start Landing */
.landing{
    position: relative;
}
.landing::before{
    content: '';
    background-color: var(--background-section);
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left ;
}
.landing .container{
    display: flex;
    align-items: center;
    height: calc( 100vh - 72px);
    padding-bottom: 120px;
}
@media(max-width:991px){
    .landing .container .content-text{
        width: 100%;
        text-align: center;
    }
    .landing .container .img{
        display: none;
    }
}
.landing .container .content-text{
    min-width: 40%;
}
.landing .container .content-text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
.landing .container .content-text p{
    color: #666;
    font-size: 23px;
    margin: 5px auto 0;
    max-width: 500px;
    line-height: 1.7;
}

.landing .container .img img{
    max-width: 100%;
    position: relative;
    animation: img-top-bottom linear 5s infinite;
}
@keyframes img-top-bottom{
    0% , 100%{@media(max-width:767px){
    .landing .container .content-text h1{
        font-size: 28px;
    }
    .landing .container .content-text p{
        font-size: 18px;
    }
}
        top: 0;
    }
    50%{
        top: -50px;
    }
}
.landing .go-down{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX( -50%);
    color: var(--main-color);
    transition: var(--main-transition);
    font-weight: 900;
    font-size: 12px;
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .go-down i{
    animation: bouncing 1.5s infinite;
}
@keyframes bouncing{
    0% , 20% , 50% , 80%  {
            transform: translateY(0);
    }
    40% , 60% {
        transform: translateY(-15px);
    }
}
/* End Landing */
/* Start Articles */
.articles  .articles-boxes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr) );
    gap: var(--gap-grid);
}
.articles .articles-boxes article {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    transition: var(--main-transition);
}
.articles .articles-boxes article:hover{
    transform: translateY( -10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
}
.articles  .articles-boxes article img{
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}
.articles  .articles-boxes article .content{
    padding: 20px;
}
.articles .articles-boxes article .content h3{
    margin-bottom: 10px;
}
.articles .articles-boxes article .content p{
    color: #777;
    width: 200px;
    line-height: 1.4;
}
.articles .articles-boxes article .info{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    border-top: 1px solid #eee ;
}
.articles .info a{
    color: var(--main-color);
    font-weight: bold;
}
.articles .info i{
    font-size: 14px;
}
.articles article:hover .info i{
    animation: trans linear .5s infinite;

}
@keyframes trans{
    100%{
        translate: 10px 0;
    }
}
/* End Articles */
/* Start Gallery */
.gallery{
    background-color: var(--background-section);
}
.gallery .container .boxes-imges{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax( 300px , 1fr));
    gap: var(--gap-grid);
    justify-content: center;
}
.gallery .container .boxes-imges .box{
    border: 15px solid #fff;
    box-shadow: 0 0 13px rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
}
.gallery .container .boxes-imges .box::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50% , -50%);
    background-color: rgba(255, 255, 255, .3);
    width: 0;
    height: 0;
    z-index: -1;
}
.gallery .container .boxes-imges .box:hover::before{
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1.3s , width var(--main-transition) , height var(--main-transition); 
}
.gallery .container .boxes-imges img{
    width: 100%;
    transition: var(--main-transition);
}
.gallery .container .boxes-imges .box:hover img{
    transform: rotate( 5deg) scale(1.1) ;
    transition: var(--main-transition) ;
} 
/* End Gallery */
/* Start FEATURES */
.features  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: var(--gap-grid);
}
.features .container .box{
    border: 1px solid #ccc;
    overflow: hidden;
}
.features .container .box .img{
    position: relative;
}
.features .container .box .img::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255 , 0, 0, 40%);
}
.features .container .time .img::before{
    background-color: rgba(0 , 150 , 136 , 60%);
} 
.features .container .passion .img::before{
    background-color: rgb(3 , 169 , 244 , 60%);
} 
.features .container .box .img::after{
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    border: solid;
    border-width: 0 0 175px 455px;
    border-color: transparent transparent #fff transparent;
}
.features .container .box:hover .img::after{
    border-width: 0 455px 175px 0;
    transition: var(--main-transition);
}
.features .container .box img{
    max-width: 100%;
}
.features .container .box .content-text{
    padding: 20px;
    text-align: center;
}
.features .container .box .content-text h3{
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}
.features .container .box .content-text h3:after{
    content: '';
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: -14px;
    width: 31%;
    height: 4px;
    background-color: red;
}
.features .container .time .content-text h3:after{
    background-color: rgb(0 150 136);
    width: 19%;
}
.features .container .passion .content-text h3:after{
    background-color: rgb(3 169 244);
}
.features .container .box .content-text p{
    line-height: 1.6;
    color: var(--sec-color);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 40px;
}
.features .container .box .content-text a{
    display: inline-block;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 22px;
    color: red;
    border: 3px solid red;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.features .container .box:hover a{
    color: #fff !important;
    transition: var(--main-transition);
}
.features .container .box a::before{
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transition: var(--main-transition);
    z-index: -1;
}
.features .container .box:hover a::before{
    left: 0;
}
.features .container .time .content-text a{
    color: rgb(0 150 136);
    border: 3px solid rgb(0 150 136);
}
.features .container .time a::before{
    background-color: rgb(0 150 136);
}
.features .container .passion .content-text a{
    color: rgb(3 169 244);
    border: 3px solid rgb(3 169 244);
}
.features .container .passion a::before{
    background-color: rgb(3 169 244);
}
/* End FEATURES */
/* Start TESTIMONIALS */
.testimonials{
    background-color: var(--background-section);
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.testimonials .container .card{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.testimonials .container .card h5{
    font-size: 19px;
    margin-bottom: 10px;
}
.testimonials .container .card p{
    color: var(--sec-color);
    line-height: 1.6;
    padding-right: 10px;
}
.testimonials .container .card .icons {
    color: #ffc107;
    margin: 10px 0;
}
.testimonials .card img{
    width: 100px;
    border-radius: 50%;
    border: 12px solid var(--background-section);
    position: absolute;
    top: 0;
    right: -15px;
    translate: 0 -50%;
}
/* End TESTIMONIALS */
/* Start TEAM MEMBERS */
.team-members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}
.team-members .container .box{
    position: relative;
    overflow: hidden;
}
.team-members .container .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 85%;
    background-color: #f3f3f3;
    border-radius: 10px;
    z-index: -2;
}
.team-members .container .box::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #e4e4e4;
    border-radius: 10px;
    z-index: -1;
}
.team-members .container .box:hover::after{
    width: 85%;
    transition: width var(--main-transition) ;
}
.team-members .container .box .info{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team-members .container .box img{
    max-width: calc( 100% - 60px);
    border-radius: 10px;
}
.team-members .container .box:hover img{
    filter: grayscale(100%);
    transition: var(--main-transition);
}
.team-members .container .box .social-icons{
    color: var(--sec-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}
.team-members .container .box .social-icons i{
    margin: 15px 0;
}
.team-members .container .box .social-icons i:hover{
    color: var(--main-color-alt);
    cursor: pointer;
}
.team-members .container .box h5{
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0 0 80px;
}
.team-members .container .box:hover h5{
    color: var(--sec-color);
}
.team-members .container .box p{
    padding: 10px 0 25px 80px;
}
/* End TEAM MEMBERS */
/* Start Services */
.services{
    background-color: var(--background-section);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px , 1fr));
    gap: 40px;
    color: #d5d5d5;
}
.services .container .box{
    background-color: #fff;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 18px rgba(0 , 0 , 0 , 13%);
    transition: var(--main-transition);
}
.services .container .box:hover{
    translate: 0 -10px;
}
.services .container .box::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50% 0;
    width:0;
    height: 2px;
    background-color: var(--main-color);
    transition: var(--main-transition) ;
} 
.services .container .box:hover::before{
    width: 100%;
}
.services .container .box i{
    padding: 30px 0 24px;
}
.services .container .box h3{
    margin:  0 0 30px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
}
.services .container .box .info{
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
}
.services .container .box .info span{
    color: #fff;
    background-color: var(--main-color);
    width: 100px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 25px 0 0;
}
.services .container .box .info span::before{
    content: '';
    position: absolute;
    left: 80px;
    background: #d5d5d5;
    width: 50px;
    height: 100%;
    transform: skewX(-30deg);
}
.services .container .box .info p{
    color: var(--main-color );
    padding: 20px;
}
/* End Services */
/* Start our Skills */
.our-skills .container {
    display: flex;
    align-items: center;
}
@media(max-width:991px){
    .our-skills img{
        display: none;
    }
}
.our-skills .skills{
    flex: 1;
}
.our-skills .skill{
    position: relative;
}
.our-skills .skill::before{
    content: '80%';
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    color: var(--main-color);
    padding: 3px 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.our-skills .skill:nth-child(2):before{
    content: '85%';
}
.our-skills .skill:nth-child(3):before{
    content: '70%';
}
.our-skills .skill span{
    margin: 18px 0;
    display: block;
    height: 30px;
    background-color: #eee;
    position: relative;
    transition: 10s width;
}
/* مفروض كان ما استخدم البيفور وكان استخدم الاسبان عشان اعطي ستايل انلاين عشان اقدر اتحكم
 فيها بعدين واحط العرض الي بدي ياه الي بدي ياها عن طريق جي اس/شرح يوتيوب افضل الزيرو مشروع الثالث فيديو المهارات  */
.our-skills .skill span::before{
    content: '';
    position: absolute;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
    animation: width linear .5s forwards;
}
@keyframes width{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
.our-skills .skill:nth-child(2) span::before{
    width: 85%;
    animation: width-2 linear .5s forwards;
}
@keyframes width-2{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
.our-skills .skill:nth-child(3) span::before{
    width: 70%;
    animation: width-3 linear .5s forwards;
}
@keyframes width-3{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
/* ENd our Skills */
/* Start Work-steps */
.works{
    background-color: var(--background-section);
}
.works .container{
    display: flex;
}
@media(max-width:991px){
    .works .container{
        flex-direction: column;
        align-items: center;
    }
}
.works .container > img{
    max-width: 100%;
    margin-right: 100px;
    object-fit: contain;
}
@media(max-width:991px){
    .works  .container > img{
        margin: 0 0 50px;
    }
}
.works .container .cards{
    display: flex;
    flex-direction: column;
}
.works .container .cards .card{
    background-color: #f6f5f5;
    border: solid 2px #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 30px;
    position: relative;
}
@media(max-width:767px){
    .works .container .card{
        flex-direction: column;
    }
}
.works .container .cards .card::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 0;
    height: 0;
    background-color: var(--background-section);
    transition: var(--main-transition);
}
.works .container .cards .card:hover::before{
    width: 100%;
    height: 100%;
}
.works .cards .card img , .works .cards .card .content-text{
    z-index: 1;
}
@media(max-width:767px){
    .works .container .card .content-text{
        text-align: center;
    }
}
.works .card .content-text h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.works .card .content-text p{
    color: #777;
    line-height: 1.7;
    font-size: 18px;
}
.works .cards .card img{
    width: 64px;
    height: 64px;
    margin-right: 30px;
}
@media(max-width:767px){
    .works .container .card img{
        margin: 0 0 30px;
    }
}
/* End Work-steps */
/* Start Event */
.event .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.event .container > img{
    width: 40%;
}
@media(max-width:991px){
    .event .container > img{
        display: none;
    }
}
.event .info{
    width: 60%;
    text-align: center;
}
@media(max-width:991px){
    .event .info{
        width: 100%;
    }
}
.event .info .time{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.event .info .time .box{
    border: 1px solid #d4d4d4;
    margin: 5px;
    border-radius: 7px;
}
.event .info .time .box:hover{
    border: 1px solid var(--main-color-alt);
}
.event .info .time .box .num{
    padding: 15px;
}
.event .info .time .box .num span{
    display: block;
    font-weight: bold;
    font-size: 32px;
    color: var(--main-color);
}
.event .info .time .box p{
    border-top: 1px solid #d4d4d4;
    padding: 7px;
    font-size: 13px;
}
.event .info h3{
    font-size: 28px;
    margin: 40px 0 20px;
}
.event .info p{
    line-height: 1.7;
    font-size: 19px;
    color: var(--sec-color);
}
.event .send-email{
    border-radius: 50px;
    background-color: var(--background-section);
    padding: 30px 40px;
    width: 600px;
    margin: 50px 0 ;
    display: flex;
    gap: 20px;
}
@media(max-width:767px){
    .event .send-email{
        flex-direction: column;
        border-radius: 0;
    }
}
.event .send-email input{
    outline: 0;
    border: 0;
    border-radius: inherit;
    padding: 20px;
    flex-grow: 1;
    caret-color: var(--main-color);
}
.event .send-email input::placeholder{
    transition: opacity var(--main-transition);
}
.event .send-email input:focus::placeholder{
    opacity: 0;
}
.event .send-email button{
    border-radius: inherit;
    border: var(--main-color);
    padding: 20px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
}
/* End Event */
/* Start pricing */
.pricing{
    background-color: var(--background-section);
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 40px;
}
.pricing .box{
    background-color: #fff;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
    padding-top: 30px;
}
@media(min-width:1420px){
    .pricing .box:nth-child(2){
        translate: 0 -20px;
    }
}
@media(max-width:500px){
    .pricing .container{
        display: block;
    }
    .pricing .box{
        margin-top: 30px;
    }
}
.pricing .box::before , .pricing .box::after{
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    transition: width var(--main-transition);
    z-index: -1;
}
.pricing .box::before{
    left: 0;
    top: 0;
}
.pricing .box::after{
    right: 0;
    bottom: 0;
}
.pricing .box:hover::before , .pricing .box:hover::after{
    width: 100%;
}
.pricing .box .label{
    position: absolute;
    right: 20px;
    top: 0;
    writing-mode: vertical-rl;
    color: #fff;
    background-color: var(--main-color);
    padding: 10px 10px 35px ;
    font-size: 18px;
    font-weight: bold;
}
.pricing .box .label::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border: solid 20px;
    border-color: transparent transparent #fff transparent;
}
.pricing .box h3{
    margin: 0 0 30px;
    font-size: 24px;
}
.pricing .box img{
    width: 80px;
    margin-bottom: 30px;
}
.pricing .box span:first-of-type{
    display: block;
    font-weight: bold;
    font-size: 60px;
    color: var(--main-color);
}
.pricing .box span:last-of-type{
    display: block;
    color: var(--sec-color);
    margin: 5px 0 20px;
}
.pricing .box ul{
    text-align: left;
}
.pricing .box ul li{
    border-top: 1px solid #eee;
    padding: 20px;
}
.pricing .box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: bold;
    color: var(--main-color);
    margin-right: 10px;
}
.pricing .box a{
    display: inline-block;
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);
}
.pricing .box a:hover{
    background-color: var(--main-color);
    color: #fff;
}
/* End pricing */
/* Start Video */
.video .container{
    display: flex;
    padding: 0;
    border: 1px solid #ddd;
}
@media(max-width:992px){
    .video .container{
        flex-direction: column;
    }
    .video .col-right p{
        margin-top: 10px;
    }
}
.video .col-left{
    min-width: 25%;
}
.video .col-left h3{
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
}
.video .col-left ul li {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}
.video .col-left ul li:hover{
    color: var(--main-color-alt);
    background-color: #fafafa;
}
.video .col-left ul a{
    display: block;
    margin-bottom: 5px;
}
.video .col-left ul span{
    color: var(--sec-color);
}
.video .col-right{
    padding: 10px;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 75%;
}
.video .col-right img{
    max-width: 100%;
}
.video .col-right p{
    background-color: #fff;
    padding: 20px;
}
/* End Video */
/* Start Stats */
.stats{
    background-image: url(../imgs/stats.jpg);
    position: relative;
    text-align: center;
}
.stats::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255 255 255 / 93%);
    width: 100%;
    height: 100%;
}
.stats h2{
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}
.stats .boxes{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 20px;
}
.stats .boxes .box{
    background-color: #fff;
    padding: 30px 15px;
    position: relative;
    opacity: 0.8;
    transition: .7s;
}
.stats .boxes .box:hover{
    opacity: 1;
}
.stats .boxes .box::before , .stats .boxes .box::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 0;
    background-color: var(--main-color-alt);
    transition: .7s;
}
.stats .boxes .box::before{
    top: 0;
    right: 0;
}
.stats .boxes .box::after{
    bottom: 0;
    left: 0;
}
.stats .boxes .box:hover::before , .stats .boxes .box:hover::after{
    height: 100%;
}
.stats .box span{
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 50px;
}
.stats .box i:last-child{
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
}
/* ENd Stats */
/* Start Discount */
.discount{
    display: flex;
}
@media(max-width:991px){
    .discount{
        flex-direction: column;
    }
}
.discount .content{
    flex-basis: 50%;
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    position: relative;
    z-index: -2;
    padding: 100px 0 50px;
    color: #fff;
    text-align: center;
}
.discount .content::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
.discount  h2{
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 30px ;
}
.discount .content p{
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
    margin: 20px auto;
}
.discount .content img{
    max-width: 100%;
    width: 300px;
}
.discount .form{
    flex-basis: 50%;
    padding-bottom: 50px;
    text-align: center;
}
.discount .form form{
    width: 70%;
    margin: 0 auto;
}
.discount .form .input{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
.discount .form textarea{
    resize: none;
    height: 200px;
}
.discount .form button{
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}
.discount .form h2{
    margin-top: 50px;
}
/* End Discount */
/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}
@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .box .social {
    display: flex;
}
@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}
.footer .box .social li {
    margin-right: 10px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
    background-color: #1877f2;
}
.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
    background-color: #ff0000;
}
.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}
.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
    padding-left: 10px;
}
.footer .box .links li:hover a {
    color: white;
}
.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
} 
.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
@media (max-width: 767px) {
    .footer .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}
.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}
.footer .box .line .info span {
    display: block;
}
.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
  /* End Footer */